body {
  background-color: #52527a;
  font-family: sans-serif;
}

.body-con {
  margin: 12em auto auto;
  background-color: lightpink;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  border: 1px hidden white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2% 2% 4%;
}

.App {
  text-align: center;
}

.task-list {
  margin: auto;
  width: 90%;
  border: black 2px solid;
}

.list-group-item, .list-headers {
  display: flex;
  flex-wrap: nowrap;
}

.list-items, h2 {
  width: 33.3%;
  border: grey 1px solid;
}
.name {
  text-align: left;
  padding-left: 1%;
}

.status {
  text-align: center;
}

.type {
  text-align: right;
  padding-right: 1%;
}

/* Pages styling */

.nav {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  height: 3.5rem;
}

.nav-item {
  width: 5rem;
  text-align: center;
  font-size: small;
  border: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
  text-decoration: none;
  text-align: center;
  color: aliceblue;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .out:hover {
  color: lightpink;
  background-color: inherit;
  cursor: pointer;
}

/* Add Task Styling */

h1 {
  text-align: center;
}

.task-title-con, .task-type-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.task-type-con {
  margin-top: 1%;
}

input, select {
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 2rem;
  padding-left: 1em;
}

label {
  margin: 1% 0;
}

select {
  width: 30%;
  cursor: pointer;
}

.button-con {
  margin: auto auto 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding-bottom: 1rem;
}

button {
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #52527a;
  width: 30%;
  color: white;
  padding: 1.5% 2%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

/* Taskboard Styling */

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

#board-1, #board-2, #board-3, #board-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightpink;
  padding: 15px;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  min-height: 350px;
}

h2 {
  margin: 0 auto 1%;
}

.card {
  padding: 15px 25px;
  background-color: #52527a;
  cursor: pointer;
  margin-bottom: 15px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

/* Media queries for mobile (Add) */

@media only screen and (max-width: 1024px) {

  .body-con {
    text-align: center;
    padding-bottom: 4%;
  }

  .task-type-con, .task-title-con {
    align-content: center;
  }

  .task-type-con {
    margin: 3% auto;
  }

  select {
    width: 50%;
  }

  .button-con {
    margin: 1% auto 20%;
  }
}

@media only screen and (max-width: 550px) {
  .body-con {
    width: 80%;
    font-size: medium;
  }

  .button-con {
    margin: 1% auto;
  }
}